@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.stroke-text {
  -webkit-text-stroke: 2px white; 
}


  @media (min-width: 85rem /* 1360px */) {
    .lg\:text-7xl {
        font-size: 4.5rem /* 72px */;
        line-height: 1.5;
    }
  }

  @media (min-width: 97rem /* 1552px */) {
    .xl\:text-8xl {
        font-size: 6rem /* 96px */;
        line-height: 1.5;
    }
}