@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* @layer base {
  body {
    @apply dark:bg-backgroundDark bg-background;
  }
}  */

.container {
  max-width: 110rem; /* or whatever maximum width you prefer */
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.stroke-text {
  @apply text-transparent;
  -webkit-text-stroke: 2px theme('colors.normalText');
}

.scroller {
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroll_inner {
  flex-wrap:  nowrap;
  width: max-content;
}

.svg-color {
  filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);
}

.dark .stroke-text {
  -webkit-text-stroke: 2px theme('colors.normalTextDark');
}

  @media (min-width: 85rem /* 1360px */) {
    .lg\:text-7xl {
        font-size: 4.5rem /* 72px */;
        line-height: 1.5;
    }
  }

  @media (min-width: 97rem /* 1552px */) {
    .xl\:text-8xl {
        font-size: 6rem /* 96px */;
        line-height: 1.5;
    }
}